.input-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .eye-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 20px;
    color: #888;
  }

  input:focus {
    border-color: #0052cc;
    outline: none;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  .input-label {
    text-align: left;
  font-size: 14px;
  font-weight: 500;
}