.company-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
    color: aliceblue !important;

}

.company-item:hover {
  background-color: #f9f9f9;
    color: aliceblue !important;

}

.company-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 4px;
  background-color: #fff;
}

.company-name,
.company-address,
.company-phone {
  color: aliceblue !important;
  margin: 0;
  font-size: 14px;
}