/* Основной стиль для кнопки */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  border: none;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  background: rgba(30, 30, 30, 0.4);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: background 0.3s ease;
}

.btn:hover {
  background: rgba(50, 50, 50, 0.6);
}
.ripple-container {
  position: relative !important;
  overflow: hidden !important; /* Важно: эффект не выйдет за границы */
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(0);
  animation: ripple-animation 0.5s ease-out;
  pointer-events: none;
  z-index: 1;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}