.profile-wrapper-globa{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-wrapper{
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}