.user-item-wrapper{
    padding: 5% 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-item {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-evenly;
  }
  
  .user-item h3, .user-item p {
    margin: 0;
  }
  
  .user-item p {
    color: #666;
  }
  
  .user-item .buttons {
    display: flex;
    gap: 10px;
  }
  
  .user-item .buttons button {
    padding: 5px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-item .buttons button:hover {
    background-color: #0056b3;
  }