.page-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding : 1% 0;
}
.page-header h2{
    margin: 0;
}

@media screen and (max-width: 768px) {
    .page-header{
        flex-direction: column;
        padding: 5% 0;
    }
    
}