/* Слой затемнения */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Контент модального окна */
 /* Контент модального окна */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  min-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;  /* Изменено для корректного расположения */
  
  /* Ограничиваем максимальную высоту и добавляем скролл */
  max-height: 80vh; /* Ограничиваем максимальную высоту до 80% от высоты экрана */
  overflow-y: auto;  /* Добавляем вертикальный скролл */
  
}
.modal-content::-webkit-scrollbar {
  display: none; /* скрывает полосу прокрутки в Webkit-браузерах */
}


[data-theme="dark"] .modal-content {
  background: #1e1e1e;
  color: white;
}
 
  /* Кнопка закрытия */
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }