.footer {
  padding: 2rem 1rem 1rem;
border-radius: 20px 20px 0px 0px;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
  gap: 2rem;
}

.footer-column {
  min-width: 150px;
}

.footer-column h4 {
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
}

.footer-column ul li a {
  text-decoration: none;
  transition: color 0.3s ease;
}


.social-links {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0.5rem;
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  color: #888;
  padding-top: 1rem;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ddd;
  border-color: #888;
  margin: 0 auto 1rem;
}