.header {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px;
  padding: 1.5rem 2.1rem;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header.hidden {
  transform: translateY(-100%) translateX(-50%); /* Применяем только Y для скрытия вверх */
  opacity: 0; /* Прячем его */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1rem;
}

.header-logo {
  width: 50px;
  object-fit: contain;
}

.header-nav {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-active {
  color: rgb(0, 91, 124);
  text-decoration: none;
  font-weight: bold;
}