#root {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.content{
min-height: 100vh;
padding-top: 120px;
}

.inputs-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.plus-wrapper{
  padding: 2% 0;
  min-height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
   h2{
     font-size: 20px !important;
   }
   h1{
     font-size: 25px !important;
   }
   h3{
     font-size: 15px !important;
   }

   p{
     font-size: 15px !important;
   }
  
}