.zero-menu {
    width: 100%;
    background-color: gray; /* нежный светлый фон */
    padding: 8px 0;
    font-size: 14px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .zero-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  
  .contact-info a,
  .social a {
    color: #212529;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .contact-info a:hover,
  .social a:hover {
    color: #007bff;
  }